
<div class="">
    <img src="../../assets/spotifyrest.png" alt="Nothing" width="auto" height="auto" class="center">
    <svg height="1" width="100%">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#a1a1a1;stroke-width:1" />
    </svg>
</div>
<div id="loginMain">
    <h5>To continue, log in to SpotifyRest</h5>
    <button id="errorButton" class="btn btn-block text-light" *ngIf="showError">{{errorMessage}}</button>
    <div class="d-flex flex-column">
        <button class="btn  btn-lg" style=" background-color:#3b5998;color:whitesmoke"><i style="font-size:24px;" class="fa">&#xf09a;</i>&nbsp;&nbsp;&nbsp;&nbsp;CONTINUE WITH FACEBOOK</button>
        <button class="btn btn-dark btn-lg"><i style="font-size:24px" class="fa">&#xf179;</i>&nbsp;&nbsp;&nbsp;&nbsp;CONTINUE WITH APPLE</button>
        <button class="btn btn-light btn-lg">CONTINUE WITH PHONE NUMBER</button>
        <svg style="margin-top: 40;" height= "30" width="100%">
            <line x1="0" y1="12" x2="45%" y2="12" style="stroke:#a1a1a1;stroke-width:1" />
            <text x="250" y="15" font-family="Proxima" font-size="20" fill="black">OR</text>
            <line x1="55%" y1="12" x2="100%" y2="12" style="stroke:#a1a1a1;stroke-width:1" />
        </svg>
        <form [formGroup]="loginForm" (ngSubmit)="loginAccount(loginForm)">
            <div class="form-group pt-3">
                <input id="loginEmail" type="text" class="form-control form-control-lg" placeholder= "Email address" formControlName= "email" [ngClass]="{reds:(loginForm.get('email').invalid && loginForm.get('email').touched)}">
                <span class="red" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Please enter your Spotifyrest email address.</span>
            </div>
            <div class="form-group">
                <input id="loginPassword" type="password" class="form-control form-control-lg" placeholder="Password" formControlName= "password" [ngClass]="{reds:(loginForm.get('password').invalid && loginForm.get('password').touched)}">
                <span class="red" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">Please enter your password.</span>
            </div>
            <div class="form-group row">
                <div class="col form-check px-5 mt-3">
                    <input class="form-check-input text-success" type="checkbox" name="remember" id="remember">
                    <label class="form-check-label mt-1" for="remember">Remember me</label>
                </div>
                <div class="col">
                    <button id="loginButton" type="submit" [disabled]="loginButtonClicked" class="btn btn-success btn-block btn-lg ml-auto" >LOG IN</button>
                </div>
            </div>
            <br>
            <a  class="text-success" routerLink="/"><h5>Forgot your password?</h5></a>
        </form>
        <svg style="margin-top: 30;" height= "30" width="100%">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#a1a1a1;stroke-width:1" />
        </svg>
        <h4>
            Don't have an account?
        </h4>
        <button id="regiserButton" routerLink="/register" class="btn btn-light btn-lg">SIGN UP FOR SPOTIFY</button>

        <svg style="margin-top: 30;" height= "30" width="100%">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#a1a1a1;stroke-width:1" />
        </svg>
        <p>Footer section</p>
    </div>
</div>